#ff1 {
  border: none;
  grid-column: 1/3;
  grid-row: 1;
  border-radius: 15px;
  width: auto;
}
/*#########################Info############################*/
.info-box {
  background-color: #216566;
  border: 0px;
  border-radius: 15px;
  width: auto;
  font-size: 0.9rem;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: flex-end;
}

/*#########################Search Bar############################*/
.search-d {
  width: 100%;
  position: relative;
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.option-d {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  /* border: 1px solid black; */
  border-top: none;
  outline: none;
  -webkit-box-shadow: -15px 20px 45px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -15px 20px 45px -20px rgba(0, 0, 0, 0.75);
  box-shadow: -15px 20px 45px -20px rgba(0, 0, 0, 0.75);
}
.city {
  background-color: transparent;
  outline: 0;
  color: #f5f5f5;
  font-size: 0.9rem;
  padding: 6px 10px;
  width: 87px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  transition: width 1000ms cubic-bezier(0, -0.13, 0, 1.24);
}

.city::placeholder {
  transition: color;
}
.city:active::placeholder,
.city:focus::placeholder {
  color: transparent;
}

.city:active,
.city:focus,
.city:focus-within {
  width: 320px;
  /* border-radius: 0px 5px 0px 0px; */
  border-radius: 0px 5px 5px 0px;

  padding: 6px 10px;
  font-size: 0.9rem;
  font-weight: normal;
  color: #f5f5f5;
  background-color: hsl(181, 61%, 33%);
  /* border: 2px solid #65b6b8; */
  /* border-right: 1px solid #1b4344;
  border-top: 1px solid #1b4344; */
  /* border-bottom: 1px solid #1b4344; */
  box-shadow: none;
  outline: none;
}

/* .search-icon {
  display: none;
} */

.search-span {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.search-icon {
  display: none;
}

#search:focus-within {
  .search-icon {
    display: inherit;
    width: 24px;
    /* border-bottom: 1px solid #1b4344; */
    /* border-top: 1px solid #1b4344;
    border-left: 1px solid #1b4344; */
    background-color: hsl(181, 61%, 33%);
    /* border-radius: 5px 0px 0px 0px; */
    border-radius: 5px 0px 0px 5px;
    padding: 2px 3px 2px 5px;
  }
  .search-icon:hover,
  .search-icon:active,
  .search-icon:focus {
    display: inherit;
    width: 22px;
    /* border-bottom: 1px solid #1b4344;
    /* border-top: 1px solid #1b4344;
    border-left: 1px solid #1b4344; */
    background-color: hsl(181, 61%, 25%);
  }
}
.option {
  width: 370px;
  height: 0px;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: height 300ms;
  z-index: 1;
}
.option-p:hover {
  /* color: tomato; */
  /* background-color: red; */
  background-color: #969696;
}
.option:hover {
  background-color: #969696;
}
.option-p {
  color: black;
  margin-left: 28px;
  margin-top: 7.5px;
  z-index: 1;
}

.arman-info {
  position: absolute;
  opacity: 60%;
  left: 136px;
  align-items: center;
  appearance: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "Rubik", system-ui, sans-serif;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 7px;
  padding-right: 7px;
  /* position: relative; */
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 0.8rem;
}

.currentLoc-btn {
  float: left;
  opacity: 60%;
  align-items: center;
  appearance: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "Rubik", system-ui, sans-serif;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 0.8rem;
}

/* .currentLoc-btn:focus, */
/* .arman-info:focus { */
/* opacity: 100%; */
/* box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset; */
/* } */

.currentLoc-btn:hover,
.arman-info:hover {
  opacity: 100%;
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.currentLoc-btn:active,
.arman-info:active {
  opacity: 100%;
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.arman-overlay {
  position: absolute;
  left: -45px;
  top: -45px;
  display: none;
  /* width: 1920px;
  height: 1080px; */
  width: 100vw;
  height: 100vw;
}
.arman-page {
  clip-path: margin-box;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  /* overflow: hidden; */
  font-size: 0px;
  opacity: 0%;
  top: 23px;
  left: 181px;
  width: 20px;
  height: 20px;
  /* border: 6px solid #64b6b7; */
  /* border: 6px solid transparent; */
  border: 6px solid #0000003d;
  border-radius: 6px;
  background-color: #216566ce;
  /* transition: opacity 300ms; */
  /* transition: all 400ms ease-out; */
  transition: all 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  z-index: 2;
}
.arman-page-2 {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  /* overflow: hidden; */
  /* font-size: 0px; */
  width: 400px;
  height: 400px;
  background: linear-gradient(to right, #f5f5f5 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, #f5f5f5 4px, transparent 4px) 0 0,
    linear-gradient(to left, #f5f5f5 4px, transparent 4px) 100% 0,
    linear-gradient(to bottom, #f5f5f5 4px, transparent 4px) 100% 0,
    linear-gradient(to left, #f5f5f5 4px, transparent 4px) 100% 100%,
    linear-gradient(to top, #f5f5f5 4px, transparent 4px) 100% 100%,
    linear-gradient(to right, #f5f5f5 4px, transparent 4px) 0 100%,
    linear-gradient(to top, #f5f5f5 4px, transparent 4px) 0 100%;
  /* linear-gradient(to bottom, #f5f5f5 2px, transparent 2px) 0 0,
    linear-gradient(to right, #f5f5f5 2px, transparent 2px) 0 100%,
    linear-gradient(to left, #f5f5f5 2px, transparent 2px) 100% 0,
    linear-gradient(to top, #f5f5f5 2px, transparent 2px) 100% 100%; */
  background-repeat: no-repeat;
  background-size: 30px 30px;
  /* border: 6px solid #64b6b7; */
  /* border: 6px solid transparent; */
  /* background-color: transparent; */
  /* transition: opacity 300ms; */
  /* transition: all 400ms ease-out; */
  /* transition: all 500ms cubic-bezier(0.18, 0.89, 0.32, 1.28); */
}
.arman-page-border-in {
  opacity: 50%;
  border-radius: 3px;
  position: absolute;
  overflow: hidden;
  top: -6px;
  left: -5.6px;
  /* background-color: #fb5607; */
  background-color: #748d43;
  offset-path: path(
    "M -8 3 L 509 3 Q 509 3 509 18 M 509 18 L 509 509 Q 494 509 494 509 M 494 509 L 3 509 Q 3 509 3 494 M 3 494 L 3 5 Q 3 18 3 -5"
  );
  transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation: armanBorder 15s infinite alternate;
  /* animation-delay: 100ms; */
}
.arman-text {
  /* position: relative; */
  padding: 14px 25px;
  font-size: 1.3rem;
  margin: 0px 57px;
  border-top: 4px solid #f5f5f500;
  border-left: 4px solid #f5f5f500;
  border-bottom: 4px solid #f5f5f500;
  border-right: 4px solid #f5f5f500;
  /* outline: 3px solid red; */
  /* background-image: linear-gradient(to right, #65ebe7 100%, #65ebe7 100%);
  background-size: 100% 0%;
  background-position: -1px 25px;
  background-repeat: no-repeat;
  padding-left: 1px; */
  /* transition: background-size 1s ease 30ms; */
  /* cursor: none; */
}

/* #txt1::before {
  border-radius: 6px;
  top: 93px;
  border-top: 4px solid #f5f5f5;
  border-right: 0px solid #f5f5f5;
  left: 57px;
  position: absolute;
  content: "";
  width: 282px;
  height: 78xpx;
  width: 0px;
  height: 0px;
  transition: width 1s, height 1s 1s, border-right-width;
  transition-behavior: allow-discrete;
  transition-property: width, height;
  transition-timing-function: ease;
  background-color: #36395a;
}
#txt1::after {
  border-radius: 6px;
  top: 95px;
  border-bottom: 0px solid #f5f5f5;
  border-left: 4px solid #f5f5f5;
  left: 57px;
  position: absolute;
  content: "";
  width: 282px;
  height: 78px;
  width: 0px;
  height: 0px;
  transition: width 1s 1s, height 1s, border-bottom-width;
}

#txt2::before {
  border-radius: 6px;
  top: 199px;
  border-top: 4px solid #f5f5f5;
  border-right: 0px solid #f5f5f5;
  left: 57px;
  position: absolute;
  content: "";
  width: 282px;
  height: 78xpx;
  width: 0px;
  height: 0px;
  transition: width 1s, height 1s 1s, border-right-width;
  transition-behavior: allow-discrete;
  transition-property: width, height;
  transition-timing-function: ease;
  background-color: #36395a;
}
#txt2::after {
  border-radius: 6px;
  top: 201px;
  border-bottom: 0px solid #f5f5f5;
  border-left: 4px solid #f5f5f5;
  left: 57px;
  position: absolute;
  content: "";
  width: 282px;
  height: 78px;
  width: 0px;
  height: 0px;
  transition: width 1s 1s, height 1s, border-bottom-width;
}
#txt3::before {
  border-radius: 6px;
  top: 307px;
  border-top: 4px solid #f5f5f5;
  border-right: 0px solid #f5f5f5;
  left: 57px;
  position: absolute;
  content: "";
  width: 282px;
  height: 78xpx;
  width: 0px;
  height: 0px;
  transition: width 1s, height 1s 1s, border-right-width;
  transition-behavior: allow-discrete;
  transition-property: width, height;
  transition-timing-function: ease;
  background-color: #36395a;
}
#txt3::after {
  border-radius: 6px;
  top: 307px;
  border-bottom: 0px solid #f5f5f5;
  border-left: 4px solid #f5f5f5;
  left: 57px;
  position: absolute;
  content: "";
  width: 282px;
  height: 78px;
  width: 0px;
  height: 0px;
  transition: width 1s 1s, height 1s, border-bottom-width;
}
#txt1:hover::before,
#txt2:hover::before,
#txt3:hover::before {
  height: 78px;
  width: 282px;
  border-right-width: 4px;
}
#txt1:hover::after,
#txt2:hover::after,
#txt3:hover::after {
  height: 78px;
  width: 282px;
  border-bottom-width: 4px;
} */
a,
a:visited {
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}
#aLink {
  cursor: pointer;
}
@keyframes armanBorder {
  0% {
    offset-distance: 0%;
  }
  25% {
    offset-distance: 100%;
  }
  50% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

/* #svgbox {
  position: absolute;
  transform: translate(0px, 138px);
  left: 57px;
  top: 89px;
}
#line1 {
  stroke-width: 6;
}
#line1m:hover {
  begin: 0s;
}
#btnmine {
  position: absolute;
  left: 200px;
  top: 0;
}
#rect1 {
  transition: all 2s;
}
#rect2 {
  transition: all 2s;
}

#svgbox:hover {
  #srect1 > #rect1 {
    width: 100%;
    #srect2 > #rect2 {
      height: 100%;
    }
  }
} */

.lineBox {
  position: absolute;
  clip-path: inset(1px);
  top: 92px;
  left: 56px;
  width: 287px;
  height: 86px;
  background-color: transparent;
  overflow: hidden;
}
#linebox2 {
  top: 198px;
}
#linebox3 {
  top: 304px;
}
.line1 {
  position: absolute;
  width: 0px;
  height: 6px;
  background-color: #f5f5f5;
  transition: all 2s;
}
.line2 {
  position: absolute;
  top: -1000%;
  left: 281px;
  width: 6px;
  height: 100%;
  background-color: #f5f5f5;
  transition: all 2s cubic-bezier(0, 1, 0, 0);
}
.line3 {
  position: absolute;
  top: 80px;
  left: -300%;
  width: 100%;
  height: 6px;
  background-color: #f5f5f5;
  transition: all 2s cubic-bezier(0.5, 1, 0, 0);
}
.line4 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 6px;
  height: 0;
  background-color: #f5f5f5;
  transition: all 2s;
}
.lineBox:hover {
  .line1 {
    width: 100%;
  }
  .line2 {
    top: 0px;
  }
  .line3 {
    left: 0px;
  }
  .line4 {
    height: 100%;
  }
}
