:root {
  /* background-color: #424242; */
  /* background-color: #181c14; */
  background-color: #229799;
}
#root {
  width: min-content;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 30px;
}
body {
  margin: 0;
  min-width: 320px;
  /* min-height: 100vh; */
}
.all-them {
  display: flex;
  justify-content: center;
}
p {
  margin: 0;
  color: #f5f5f5;
}
.main-box {
  width: min-content;
  display: grid;
  gap: 25px;
  /* justify-content: start; */
  justify-content: center;
}
.ff {
  height: min-content;
  /* background-color: #229799; */

  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(209, 213, 219, 0.3);

  border-radius: 15px;
  font-family: "Rubik", system-ui, sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
#ff3 {
  width: auto;
  grid-column: 1;
  grid-row: 2;
  border-radius: 15px;
}
#ff5 {
  grid-column: 1;
  grid-row: 3/6;
  border-radius: 15px;
}
#ff7 {
  grid-column: 2;
  grid-row: 2/4;
  border-radius: 15px;
}
#ff9 {
  /* overflow-x: scroll; */
  grid-column: 2;
  grid-row: 4;
  border-radius: 15px;
}
.logo {
  width: 100%;
  object-fit: cover;
  overflow: clip;
}
/*#########################Current############################*/
.current-box {
  margin: 25px 20px;
  color: #f5f5f5;
  display: grid;
}
.current-line {
  height: 1px;
  margin: 10px 0;
  background-color: #f5f5f5;
}
.current-box-box {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}
#currentp1 {
  font-size: 1.2rem;
}
#currentp2 {
  font-size: 4rem;
  margin: 15px 0px;
  text-transform: lowercase;
}
#currentp3 {
  font-size: 0.8rem;
}
#currentp4 {
  font-size: 0.8rem;
  margin-left: 5px;
  color: #f5f5f5;
}
#currentp5 {
  font-size: 0.8rem;
  color: #f5f5f5;
}
#currentp6 {
  font-size: 0.8rem;
  color: #f5f5f5;
}
#ct {
  display: flex;
  align-items: center;
}
#lo {
  display: flex;
  align-items: center;
}
#currentimg1 {
  width: 8vw;
  height: 14vh;
  /* margin: 0 10px 0 15px; */
}
/*#########################Daily############################*/
.daily-box {
  margin: 25px 20px 10px 20px;
  color: #f5f5f5;
  display: grid;
  row-gap: 5px;
}
.daily-box-inline {
  display: grid;
  grid-auto-flow: column;
  column-gap: 30px;
  align-items: center;
  justify-content: space-between;
}
.dailyp {
  width: max-content;
  font-size: 0.8rem;
  color: #f5f5f5;
}
.dailyimg {
  width: 3vw;
}
/*#########################Today############################*/
.today-box {
  margin: 25px 20px;
  color: #f5f5f5;
  display: grid;
  row-gap: 15px;
}
.today-box-d1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}
.today-box-d2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
}
.today-d11 {
  /* background-color: #216566; */
  background-color: rgba(33, 101, 102, 0.6);
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#sd11 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sdp11 {
  font-size: 0.8rem;
  color: #0d2331;
}
.arman {
  padding: 3px 7px;
  border-radius: 50px;
  color: #0d2331;
  font-size: 0.8rem;
}
#ddd111 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#svg111 {
  width: 1.8rem;
}
#sd12 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 30px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  justify-items: start;
}
#sdi12 {
  width: 6vw;
}
#sdi12C {
  width: 6vw;
}
.sdd12 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.sddp12 {
  font-size: 0.8rem;
  color: #b3b3b3;
}
.sddpp12 {
  font-size: 1.5rem;
  color: #f5f5f5;
}
.today-d12 {
  /* background-color: #216566; */
  background-color: rgba(33, 101, 102, 0.6);
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: space-around;
}
#dp12 {
  font-size: 0.8rem;
  color: #0d2331;
}
#ds12 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.dss12 {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  align-items: center;
  justify-items: center;
  justify-content: start;
}
.dsss12 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
#today-d11C {
  /* background-color: #216566; */
  background-color: #ffffff;
  /* padding: 10px 15px; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.today-d12C {
  /* background-color: #216566; */
  background-color: rgba(33, 101, 102, 0.6);
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#svg2 {
  filter: invert(1);
  /* width: 65px; */
}
/*#########################Hourly############################*/
.hourly-box {
  display: grid;
  /* row-gap: 12px; */
  margin: 15px 20px;
  color: #f5f5f5;
}
.hourly-boxd {
  margin-top: 15px;
  display: grid;
  /* column-gap: 5px; */
  grid-auto-flow: column;
  justify-items: stretch;
}
.hourly-boxd2 {
  display: grid;
  /* column-gap: 5px; */
  grid-auto-flow: column;
  justify-items: stretch;
}
.hourly-d {
  /* background-color: #216566; */
  background-color: rgba(33, 101, 102, 0.6);
  padding: 15px 10px;
  /* border-radius: 1.1719vw 1.1719vw 0px 0px; */
  display: grid;
  row-gap: 5px;
  align-content: space-between;
  justify-items: center;
}
.hourly-d2 {
  /* background-color: #229799; */
  /* background-color: #216566; */
  background-color: rgba(33, 101, 102, 0.6);
  /* border-radius: 0px 0px 1.1719vw 1.1719vw; */
  display: grid;
  row-gap: 5px;
  align-content: space-between;
  justify-items: center;
}
.hourly-line {
  margin: 0;
  width: auto;
  height: 0.417vh;
  background-color: #f5f5f5;
}
.time-svg {
  width: 5vw;
}

/*#########################Loading############################*/
.loading {
  width: 88px;
  height: 88px;
  display: grid;
  border: 7px solid #0000;
  border-radius: 50%;
  border-right-color: #cdc1ff;
  animation: loading 1s infinite linear;
}

.loading::before,
.loading::after {
  content: "";
  grid-area: 1/1;
  margin: 3.5px;
  border: inherit;
  border-radius: 50%;
  animation: loading 2s infinite;
}

.loading::after {
  margin: 14px;
  animation-duration: 3s;
}

@keyframes loading {
  100% {
    transform: rotate(1turn);
  }
}
/*#########################Loading############################*/
/*####################################################*/
